$black: #000000;
$white: #ffffff;

$grey-primary: #9E9E9E;
$grey-light: #CFCFCF;
$grey-dark: #707070;

$blue-primary: #1976D2;
$blue-light: #63A4FF;
$blue-dark: #004BA0;

$green-primary: #7CB342;
$green-light: #AEE571;
$green-dark: #4B830D;
